
<mat-card [class.mat-elevation-z8]='true'>
    <mat-card-header>
        <mat-card-title>List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let item of listitems;">
                <mat-icon (click)="remove(i)">delete_outline  </mat-icon><mat-checkbox ><span>{{item.todo}}</span></mat-checkbox>
            </mat-list-item>
        </mat-list>    
        <button mat-raised-button color="warn" (click)="removeAll()">Clear</button>
    </mat-card-content>
</mat-card>

